{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CPSC113 Todo</title>
    <link rel="stylesheet" type=  "text/css" href="{% static 'styles/style.css' %}"/>
</head>
<body>
  <div class="container">
    {% if errors %}
      <div style="color:red" class="validation-error">
        {{errors}}
      </div>
    {% endif %}
{% if user.is_authenticated %}
<a href='/user/logout' class='logout'>Logout</a>
  <h1>Welcome, {{request.user.first_name}}</h1>
  <button id="new-task-button">&#43; Task</button>
  <div>
    {% if tasks %}
      {% for task in tasks %}
        {% if task.isComplete %}
          <div class="tasks-list-item complete-task">
          <h2><span class="task-title"><s>{{task.title}}</s> &#128588;</span></h2>
          <h3><span class="task-description"><s><i>{{task.description}}</i></s></span></h3>
          <form action='/task/toggle/{{task.id}}' method="POST">
            {% csrf_token %}
            <button type="submit" name="toggle-task" class="toggle-task">Undo &#8634;</button>
          </form>
        {% else %}
          <div class="tasks-list-item">
          <h2><span class="task-title">{{task.title}}</span></h2>
          <h3><span class="task-description"><i>{{task.description}}</i></span></h3>
          <form action='/task/toggle/{{task.id}}' method="POST">
            {% csrf_token %}
            <button type="submit" name="toggle-task" class="toggle-task">Complete &#10003;</button>
          </form>
        {% endif %}
            {% if task.owner == user %}
              <form action='/task/delete/{{task.id}}' method="POST">
                {% csrf_token %}
                <button type="submit" name="delete-task" class="delete-task">Delete &#10005;</button>
              </form>
            {% endif %}
          </div>
      {% endfor %}
    {% else %}
      <h2>No tasks to show &#128554;</h2>
    {% endif %}
  </div>
  <div id="new-task-form">
    <form action="/task/create" method="POST" class="create-task">
      {% csrf_token %}
      <h2>New Task &#128218;</h2>
      {{new_task}}
      <button type="submit" class="create-task-submit">Add Task &#128204;</button>
    </form>
  </div>
</div>
{% else %}
<a href='/user/logout' class='logout'></a>
<h1>Dollaborate &#128588;</h1>
<div id="login">
  <form class="login" action="/user/login" method="POST">
    {% csrf_token %}
    <h3>Sign in to see your tasks</h3>
    {{login}}
    <button type="submit"  class="log-in-submit">Sign in &#128275;</button>
  </form>
</div>

<div id="register">
  <form action="/user/register" method="POST" class="register">
    {% csrf_token %}
    <h2>Create your account</h2>
    {{register}}
    <button class="sign-up-submit" type="submit">Register</button>
  </form>
</div>

<button id="registerInstead">Need an account?</button>
{% endif %}

<div id="backdrop"></div>
</div>
<footer>
</footer>

<!-- javascript to slide in registration form for new users -->
<script type="text/javascript">
var registerForm = document.getElementById('register');
var registerButton = document.getElementById('registerInstead');
var backdrop = document.getElementById('backdrop');
registerButton.onclick = function() {
  backdrop.style.display = "block";
  registerForm.style.display = "block";
}
window.onclick = function() {
  if (event.target == registerForm) {
    registerForm.style.display = "none";
    backdrop.style.display="none";
  }
}
</script>

<!-- javascript to slide in new task form when requested -->
<script type="text/javascript">
var newTaskForm = document.getElementById('new-task-form');
var newTaskButton = document.getElementById('new-task-button');
var backdrop = document.getElementById('backdrop');
newTaskButton.onclick = function() {
  backdrop.style.display = "block";
  newTaskForm.style.display = "block";
}
window.onclick = function() {
  if (event.target == newTaskForm) {
    newTaskForm.style.display = "none";
    backdrop.style.display = "none";
  }
}
</script>

</body>
</html>
